body {
   font-family: Roboto;
   padding: 0;
   margin: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   /* box-sizing: border-box; */
}

a, .header {
   text-decoration: none;
   font-size: 18px;
   color: #e5e7eb;
}

.header {
   display:flex;
   justify-content: space-between;
   align-items: center;
   min-width:inherit;
}

.info-header {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #1F2937;
   width: 100%;
}

.content {
   width: 1024px;
   display: flex;
   flex-direction: column;
}

.info-content {
   display: flex;
   justify-content: space-between;
   align-items: center;
   min-width: inherit;
   gap: 50px;
   margin: 100px 0px;
}

.info, .info-image {
   width: 50%;
   min-width: 400px;
}

.info-image img {
   max-width: 512px;
   height: auto;
}

.info {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   gap: 20px;
   padding-bottom: 20px;
}

.info .text {
   font-size: 18px;
   color: #e5e7eb;
}

.content {
   gap: 20px;
}

.quote-section {
   background-color: #e5e7eb;
   width: 1024px;
}

.quote-text {
   font-size: 36px;
   font-weight: 300;
   font-style: italic;
   color: #1F2937;
}

button {
   background-color: #3882F6;
   color: white;
   border-radius: 4px;
   padding: 4px 16px 4px 16px;
   box-shadow: none;
   border: none;
}

h1 {
   font-size: 48px;
   font-weight: 900;
   color: #F9FAF8
}

h2 {
   font-size: 36pxx;
   font-weight: 900;
}

.cards-section {
   display: flex;
   flex-direction: column;
   align-items: center;
}
ul {
   display: flex;
   list-style: none;
   justify-content: center;
   text-align: center;
   gap: 50px;
}

li {
   /* display: flex;
   flex-direction: column;
   align-items: center; */
   text-align: center;
   font-size: 18px;   
   width: 175px;
   gap: 10px;
   color: #1F2937;
}

li img {
   width: 100%;
   border-radius: 16px;
   margin-bottom: 10px;
}