:root {
   --main-content-width: 900px;
}

body {
   font-family: Roboto;
   padding: 0;
   margin: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

a, .header {
   text-decoration: none;
   font-size: 18px;
   color: #e5e7eb;
}

.header {
   display:flex;
   justify-content: space-between;
   padding: 40px;
   width: var(--main-content-width);
}

.top-section {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #1F2937;
   flex-wrap: wrap;
}

.intro {
   display: flex;
   justify-content: center;
}
.intro .content {
   width: 450px;
}
.intro .text {
   font-size: 18px;
   color: #e5e7eb;
}

.intro img {
   width: 450px;
}

.header, .footer, .top-section {
   /* float: left;
   min-width: 100%; */
}

.quote-section {
   background-color: #e5e7eb;
}

button {
   background-color: #3882F6;
   color: white;
   border-radius: 4px;
   padding: 4px 16px 4px 16px;
   box-shadow: none;
   border: none;
}

h1 {
   font-size: 48px;
   font-weight: 900;
   color: #F9FAF8
}

h2 {
   font-size: 36pxx;
   font-weight: 900;
}